.card {
    cursor: pointer;
    min-width: 160px;
    width: 160px;
    margin: 0px 10px;

    img {
        height: 250px;
        width: 100%;
        object-fit: cover;
    }

    .card__info {

        h3,
        p {
            color: #fff;
        }
    }
}