.comments__block{
    .title{
        color: #fff;
        font-size: 32px;
    }
    .comments{
        margin-top: 10px;
        .commentsNone{
            color: #fff;
            font-size: 23px;
        }
    }
}